body {
    margin: 0;
    padding: 0;
    font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: ; */
    /* overflow: hidden; */
}

/* Dando estilos al header */
nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 6px 20px 11px 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.1);
    box-sizing: border-box;
}
.left{
    width: 55.5%;
}
.right{
    width: 25%;
}
nav .left, nav .right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

.nav-item a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.nav-item_link.item8 { 
    word-spacing: 5px;
}

.left .item8 span{
    font-size: 22px;
    font-weight: 400;
}

.right .nav-item .item1{
    font-size: 18px;
    color: #0000ff;
}

.right .nav-item .item2{
    font-size: 14px;
}

.sub-nav {
    display: grid;
    grid-template-columns: 65px 60px 1fr;
    column-gap: 0px;
    width: 19%;
    justify-content: space-evenly;
    padding: 27px 40px 27px;
    font-size: 14px;
}

.selected {
    color: #ff764d;
}

/* dando estilos al main */
main {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

article {
    width: 60%;
    margin: 200px auto;
    line-height: 30px;
    font-size: 18px;
}
h2.title {
    font-weight: 700;
    line-height: 35px;
    font-size: 24px;
}

/* estilos y posicionamiento de las imágenes y tarjetas */
.major-image_container {
    position: relative;
}
/* este elemento será agregado con javascript */
h1{
    position: absolute;
    transform: translate(84%, -334%);
    color: rgb(235, 75, 47);
    font-size: 108px;
}
/* _____________________________ */
img.large-size,
.card{
    width: 533px;
    height: 533px;
}
.xl-image {
    width: 533px;
    height: 640px;
}
 .medium-size{
    width: 426px;
    height: 320px;
}
section.major-image_container,
section .img_container,
.center-img {
    width: 100%;
}
.images-section {
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
div.img_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section {
    position: relative;
}
.first-section .color-div{
    position: absolute;    
    bottom: 0;
    right: 0;
    transform: translate(17%, 100px);
    z-index: -1;
    width: 746px;
    aspect-ratio: 1/1;
    background-color: #fbffa7;
}

.section-three .left-img img ~ img {
    margin-top: 100px;
}

.section-three .color-div{
    position: absolute;    
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(-17%, -11.5%);
    width: 746px;
    height: 960px;
    background-color: #b6ffc0;
}
.section-five .color-div {
    width: 853px;
    height: 746px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(-8.5%, -110px);
    background-color: #d5b3ff;
    margin: 0 auto;
}
.section-five .right-img {
    transform: translateX(23%);
}

.section-six .img_container{
    align-items: start;
}
.card {
    background-color: #b1c5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
}

.card-content{
    width: 60%;
    height: 60%;
    font-size: 22px;
}
.card-content h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.card-content a{
    font-size: 26px;
    color: #0000ff;
    text-decoration: none;
}

/* dando estilos al footer */
footer {
    border-top: 2px solid rgba(128, 128, 128, 0.1);
    height: auto;
    font-size: 16px;
}
div.footer {
    width: 83%;
    margin: 110px auto;
    height: auto;
    /* padding: 0 105px; */
}

.footer > img {
    width: 190px;
    margin-bottom: 60px;
}
.footer-content {
    display: flex;

}
footer h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: 500;
}
.footer-content .glossary {
    display: grid;
    width: 55%;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    /* flex-flow: column; */
    /* justify-content: space-between; */
    /* height: 330px; */
}
.one-content > a,
.two-content > a{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 16px;
}
ion-icon {
    color: white;
    font-size: 26px;
}
.facebook {
    background-color: #3477f2;
}
.twitter {
    background-color: #1da1f2;
}
.youtube {
    background-color: #ff001d;
}
.instagram {
    background-color: #f77737;
}
div.container-select{
    display: grid;
    grid-template-columns: 40% 60%;
}
.container-select select {
    height: 30px;
    border: none;
}

.sign p {
    padding: 0;
    margin: 0 0 20px 0;
}

form {
    display: grid;
    grid-template-columns: 70% 30%;
}

input#email-input {
    grid-column: 1;
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
    font-size: 18px;
    border:  none;
}

button#btn {
    grid-column: 2;
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: none;
    background-color: #0000ff;
    color: white;
}

#btn:hover {
    cursor: pointer;
}
.footer-info_container {
    display: flex;
    justify-content: space-between;
}

.footer-info_container a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.footer-info_container {
    position: relative;
}

.footer-info_container .footer-info_b span:last-child {
    position: absolute;
    transform: translateY(-1px);
    margin-left: 10px;
}
